h1{
    text-align: center;
}
form{
    background: rgb(18, 211, 0);
    color: rgb(0, 0, 0);
    display:block;
    margin: auto;
    padding-left:40px;
    width: 250px;
    border-radius: 5%;
}

label{
    font-size:3ch;
}

input{
    width: 200px;
    height: 18px;
    border-radius: 20px;
    border: none;
    margin: 5px;
}

button{
    padding: 3%;
    border-radius: 10px;
}